/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/
$lavender: #ccb6fc;
$sky: #b6d8fc;
$orange: #F77D2B;
$purple: #4949B4;
$teal: #7BEFD3;
$black: #000;
$white: #fff;
$lightGrey: #F7F7F7;
$mediumGrey: #EAEAEB;
$darkGrey: #393940;

:root {
  --mb-orange: #{$orange};
  --mb-purple: #{$purple};
  --mb-white: #{$white};
  --mb-black: #{$black};
  --mb-light-grey: #{$lightGrey};
  --mb-medium-grey: #{$mediumGrey};
  --mb-dark-grey: #{$darkGrey};
}

// Font families
$sans: 'Montserrat', sans-serif;
